<div class="maindiv">
  <div class="backgroundImg">
    <header>
  <nav class="navbar container">
    <div class="logo"><i class="fa fa-rss-square"></i> Alpha-Blog</div>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/blogs"class="nav-link" style="color: white;">Blogs</a></li>
      <li class="nav-item"><a href="/about-us"class="nav-link" style="color: white;">About Us</a></li>
      <li class="nav-item"><a href="/contact"class="nav-link" style="color: white;">Contact</a></li>
    </ul>
    <div class="admin-login">
      <a href="/admin" class="nav-link"><i class="fa fa-user-lock"></i> Login</a>
    </div>
  </nav>
</header>
</div>
</div>