<% if @article.blank? %>
  <div class="alert alert-danger alert-dismissible fade show empty_blogs_alert" role="alert">
    <i class="fas fa-exclamation-circle empty_blogs_alert_icon"></i><br/>
    <h2>Sorry, but there are No blogs to display!</h2>
    <p>Please try again later, Thank You.</p>
  </div>
<% else %>
<% end %>
