<footer class="text-center text-white">
    <div class="text-center p-3 bg-dark">
    <section>
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating" style="background-color: #0082CA" href="https://www.linkedin.com/in/meet-solanki-065074210/" role="button"><i
                    class="fab fa-linkedin-in"></i> LinkedIn</a>
            <!-- Google -->
            <a class="btn btn-primary btn-floating" style="background-color: #DD4B39" href="mailto:meetsolanki140@gmail.com" role="button"><i
                    class="fas fa-envelope"></i> Gmail</a>
            <!-- Instagram -->
            <a class="btn btn-primary btn-floating" style="background-color: #AC2BAC" href="https://instagram.com/___professional_boy/" role="button"><i
                    class="fab fa-instagram"></i> Instagram</a>
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating" style="background-color: #3B5998" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i> Facebook</a>
            <!-- Github -->
            <a target="_blank" href="https://github.com/meetpatel140" class="btn btn-primary btn-floating m-1"  style="background-color: #333333" href="#!" role="button"><i
                    class="fab fa-github"></i> Github</a>
        </section>
        © <%= Time.current.year %> Copyright. All Rights Reserved for <a target="_blank" class="text-white" href="/">Alpha-Blog.</a>
        </div>
</footer>