<footer class="bg-dark text-center text-lg-start text-white">
    <div class="container p-4">
        <section class="mb-1 mt-2">
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082CA" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i> LinkedIn</a>
            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #DD4B39" href="#!" role="button"><i
                    class="fas fa-envelope"></i> Gmail</a>
            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #AC2BAC" href="#!" role="button"><i
                    class="fab fa-instagram"></i> Instagram</a>
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3B5998" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i> Facebook</a>
            <!-- Github -->
            <a target="_blank" href="https://github.com/meetpatel140" class="btn btn-primary btn-floating m-1"  style="background-color: #333333" href="#!" role="button"><i
                    class="fab fa-github"></i> Github</a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © <%= Time.current.year %> Copyright. All Rights Reserved for 
        <a target="_blank" class="text-white" href="/">Alpha-Blog.</a>
    </div>
</footer>